body{

    background-color: gray;
    padding: 0;
    margin: 0;
    font-size: 20px;
}




.container-form{
    width: 50%;
    background-color: lightcyan;
    margin: auto;
    text-align: center;
    padding: 20px;
    height: 110vh;
    /* the height elongated d container page */
    position: relative;
    /* postion  relative is used to make it(the icon; .next) stay beside the container  while d icon is given position absolute*/
}



/* designing the 'go back home button' */
.next{
    position: absolute;
    top: 8%;
    left: 10%;
    font-size: 30px;
}


/* designing the icon to change its colour */
.next-home{
    color: red;
}





input[type=text]{
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid gray;
    text-indent: 20px;
    
}


input[type=text]:focus{
    border-radius: 15px;
    border: 1px solid lightblue;
    outline: none;
}



/* designing the placeholder(instructions for form) */
::placeholder{
    font-size: 18px;
    color: lightblue;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0px 30px;
}


.form-user{
    position: relative;
}


.user{
    position: absolute;
    top: 18%;
    left: 24%;
    /* left moves the icon to the desired positon from d left */
    font-size: 20px;
}


/* here is my email design */
input[type=email]{
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid gray;
    text-indent: 25px;
}


/* this is the div class containing the icon and iput type */
.email-form{
    position: absolute;
    top: 20%;
    left: 25%;
    font-size: 20px;
}


/* this is the design of the div class containing only the span icon */
.email{
   position:  relative;
   margin-top: 30px;
}


/* focus: inside of the box when clicked */
input[type=email]:focus{
    border-radius: 15px;
    border: 1px solid lightblue;
    outline: none;
}



/* here is my phone number design */
input[type=tel]{
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid gray;
}



input[type=tel]:focus{
    border-radius: 15px;
    border: 1px solid lightblue;
    outline: none;
}


/* the class housing the input:tel, password, confirm password, submit... */
.form-class{
    margin-top: 30px;
}



/* here is my password and confirm password input design */
input[type=password]{
    width: 50%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid gray;
}



input[type=password]:focus{
    border-radius: 15px;
    border: 1px solid lightblue;
    outline: none;
}


/* here is my submit/register button design */
.submit-btn{
background-color: rgb(0, 178, 44);
padding: 15px 40px;
border: none;
border-radius: 15px;
font-size: 20px;
width: 60%;
margin-top: 30px;
}



/* here is the design of the form-main(contained d username, password etc down to the submit btn) */
.form-main{
    padding-bottom: 50px;
}


/* here is my divider style(:horizontal line) design */
.divider{
    display: flex;
    align-items: center;
    margin: 15px;
    /* the margin:15px helps to add spaces upwards and before the username  */
}



.divider::before, .divider::after{
    content: "";
    padding: 1px;
    /* padding 1% is d size of the line before/after it got stretched */
    background-color: lightblue;
    flex: 1;
    margin: 10px 3px;
    /* the margin here shortens or elongates the horizontal line size */
}


/* here is d design of the class inside the divider span: divider-bg(around the OR) */
.divider-bg{
    background-color: white;
    padding: 15px 15px;
    border-radius: 55%;
    border: 1px solid lightblue;
}


/* styling the 3 social media icons */
.btn-social{
    background-color: #3b5998;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin: 10px;
    border-radius: 10px;
}   


/* to address each icons one at a time under same .btn-social */
.btn-social:nth-child(2){
background-color: #26a7de;
}   

.btn-social:nth-child(3){
    background-color: #DB4437;
}



/* mobile responsiveness using max through-out */
@media (max-width: 1001px) {
    .container-form{
        /* background-color: red; */
        width: 100%;
    }
 

    /* styling the 3 social media icons */
.btn-social{
    padding: 10px 20px;
    margin: 5px;
    
}   

/* styling <p> in container */
.container-form p{
    padding: 20px;
}



input[type=text]{
    width: 80%;
}

input[type=email]{
    width: 80%;
}


input[type=tel]{
    width: 80%;
}



input[type=password]{
    width: 80%;
}



.submit-btn{
    width: 65%;
}


.email-form{
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 20px;
}


.user{
    position: absolute;
    top: 22%;
    left: 10%;
    /* left moves the icon to the desired positon from d left */
    font-size: 20px;
}


/* to remove d scroll arrow (horizontal)*/
body{
   overflow-x: hidden; 
}



/* working on the height(view-point) of the container on my media query */
.container-form{
    height: 180vh;
}



    
}